@font-face {
    font-family: 'GeometosNeue';
    src: url('Fonts/GeometosNeueBlack.woff') format('woff'),
        url('Fonts/GeometosNeueBlack.woff2') format('woff2'),
        url('Fonts/GeometosNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
h1 {
    font-family: GeometosNeue;
    color: #46bddf;
    text-align: center;
}

body {
    height: 100%
}

html {
    height: 100%;
}

.block {
    display: block;
    margin: 0 auto;
    width: 30%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 28px;
    font-family: GeometosNeue;
    color: #1a1919;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .block {
        width: 60%;
    }
}

.block:hover:not(.homepage:disabled) {
    transform: scale(1.1)
}

.homepage {
    margin-bottom: 6px;
}

.chapterpage {
    margin-bottom: 15px;
}

.homepage:disabled {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}
